@use '../../mixin.scss' as mixin;

.footer {
  width: 100%;
  z-index: 10;
  background-color: mixin.$neutral-900;
  color: mixin.$neutral-100;
  text-align: center;
  padding-block: 12px;
  position: fixed;
  bottom: 0;
  @include mixin.tablet {
  }
  @include mixin.desktop {
  }
}
