@use '../../mixin.scss' as mixin;

.outer {
  color: mixin.$neutral-900;
  width: 100%;
  height: 100%;
  margin-bottom: 1.6rem;
  @include mixin.desktop {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .flexcontainer {
    padding-top: 56px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    @include mixin.tablet {
      display: inline-block;
      padding-inline: 168px;
      padding-top: 64px;
    }

    @include mixin.desktop {
      padding-top: 76px;
      width: 100%;
      height: 100%;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 48px;
    }

    .flexup {
      flex-basis: 100%;
      margin-top: 16px;
    }
    .flexbottom {
      flex-basis: 100%;
      margin-bottom: 24px;
      @include mixin.tablet {
        border-radius: 8px;
        padding: 42px;
        margin-top: 32px;
        box-shadow: mixin.$shadow-elevation-3;
      }
      @include mixin.desktop {
        width: auto;
        padding: 42px;
        box-shadow: mixin.$shadow-elevation-6;
      }
    }
  }
}

.pic {
  width: 100%;
  height: 100%;
}

.h3 {
  text-transform: capitalize;
  color: mixin.$neutral-900;
  margin-top: 24px;
  @include mixin.desktop {
    margin-top: 0;
  }
}

.danger {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-block: 8px;
  margin-top: 24px;
  border: 1px solid mixin.$secondary-danger;
  border-radius: 8px;
  color: mixin.$secondary-danger;
  background-color: mixin.$secondary-danger-light;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
  @include mixin.desktop {
    margin-top: 42px;
  }
}
.flexinput {
  position: relative;
  .password {
    position: absolute;
    top: 50%;
    right: 0;

    border: none;
    background: none;
    height: 100%;
    transform: translateY(-50%);
    padding-inline: 12px;
  }
}
.form {
  margin-top: 24px;
  .div {
    margin-block: 12px;
    .label {
      display: block;
      text-transform: capitalize;
      margin-top: 4px;
      margin-bottom: 0.5rem;
    }
    .input {
      display: block;
      border-radius: 6px;
      border: 1px solid mixin.$neutral-400;
      padding: 8px;
      width: 100%;
      &::placeholder {
        color: mixin.$neutral-600;
      }
      &:focus {
        outline: none;
        border: 1px solid mixin.$primary-button;
      }
    }
    .span {
      color: mixin.$secondary-danger;
    }
  }
  .div2 {
    margin-block: 12px;
    .label {
      display: block;
      text-transform: capitalize;
      margin-top: 4px;
      margin-bottom: 0.5rem;
    }

    .flexinput {
      position: relative;
      border-radius: 0.6rem;
      .input {
        display: block;
        border-radius: 6px;
        border: 1px solid mixin.$neutral-400;
        padding: 8px;
        width: 100%;
        &::placeholder {
          color: mixin.$neutral-600;
        }
        &:focus {
          outline: none;
          border: 1px solid mixin.$primary-button;
        }
      }
      .password {
        position: absolute;
        top: 50%;
        right: 0;

        border: none;
        background: none;
        height: 100%;
        transform: translateY(-50%);
        padding-inline: 12px;
      }
      span {
        color: mixin.$secondary-danger;
      }
    }
  }
  .button {
    display: block;
    margin-top: 24px;
    width: 100%;
    cursor: pointer;
    padding-block: 8px;
    border-radius: 6px;
    background-color: mixin.$primary-button;
    color: mixin.$neutral-100;
    text-transform: capitalize;
    border: none;
    &:hover {
      background-color: mixin.$primary-hover;
      transition: background-color 0.2s ease-in-out;
    }
    &:active {
      background-color: mixin.$primary-pressed;
      transition: color 0.2s ease-in-out;
    }
  }
  .forgotPassword {
    display: flex;
    justify-content: flex-end;
    color: mixin.$primary-text;
    cursor: pointer;
    .psw {
      color: mixin.$primary-button;
      &:hover {
        color: mixin.$primary-hover;
        transition: color 0.2s ease-in-out;
      }
      &:active {
        color: mixin.$primary-pressed;
        transition: color 0.2s ease-in-out;
      }
    }
  }
}

.accent {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block: 8px;
  .strip {
    height: 1px;
    width: 100%;
    background-color: mixin.$neutral-600;
  }
  .p {
    color: mixin.$neutral-600;
  }
}
.daftar {
  text-align: center;
  color: mixin.$neutral-900;
  margin-top: 24px;
  .link {
    text-decoration: none;
    color: mixin.$primary-button;
    text-transform: capitalize;
  }
}
