@use '../../mixin.scss' as mixin;

.outer {
  width: 100%;
  height: 100%;
  @include mixin.tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include mixin.desktop {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .flexcontainer {
    padding-top: 80px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    max-width: 456px;
    @include mixin.tablet {
      max-width: 500px;
      padding-top: 64px;
    }

    @include mixin.desktop {
      padding-top: 76px;
      width: 100%;
      height: 100%;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 48px;
    }

    .flexbottom {
      flex-basis: 100%;
      margin-bottom: 5rem;
      min-width: 35vw;
      @include mixin.tablet {
        border-radius: 8px;
        padding: 42px;
        margin-top: 32px;
        box-shadow: mixin.$shadow-elevation-3;
      }
      @include mixin.desktop {
        width: auto;
        padding: 42px;
        box-shadow: mixin.$shadow-elevation-6;
      }
      .head {
        display: flex;
        align-items: center;
        justify-content: center;
        .left {
          flex-basis: 10%;
          width: 50%;
        }
        .h3 {
          flex-basis: 90%;
          text-align: center;
          justify-self: center;
          align-self: center;
          text-transform: capitalize;
          color: mixin.$neutral-900;
          @include mixin.desktop {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.pic {
  width: 100%;
  height: 100%;
}

.syarat {
  color: mixin.$neutral-900;
  text-align: center;
  margin-block: 42px;
  & > * {
    color: mixin.$primary-text;
  }
}

.flexinput {
  position: relative;
  .password {
    position: absolute;
    top: 50%;
    right: 0;

    border: none;
    background: none;
    height: 100%;
    transform: translateY(-50%);
    padding-inline: 12px;
  }
}

.form {
  margin-top: 24px;
  .div {
    margin-block: 12px;
    .label {
      display: block;
      text-transform: capitalize;
      color: mixin.$neutral-900;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }
    .input {
      display: block;
      border-radius: 6px;
      border: 1px solid mixin.$neutral-400;
      padding: 8px;
      width: 100%;
      &::placeholder {
        color: mixin.$neutral-600;
      }
      &:focus {
        outline: none;
        border: 1px solid mixin.$primary-button;
      }
    }
    span {
      color: mixin.$secondary-danger;
    }
  }
  .button {
    display: block;
    margin-top: 24px;
    width: 100%;
    padding-block: 8px;
    border-radius: 6px;
    cursor: pointer;
    background-color: mixin.$primary-button;
    color: mixin.$neutral-100;
    text-transform: capitalize;
    border: none;
    &:hover {
      background-color: mixin.$primary-hover;
      transition: background-color 0.2s ease-in-out;
    }
  }
}

.daftar {
  text-align: center;
  text-transform: initial;
  color: mixin.$neutral-900;
  margin-top: 24px;
  .link {
    text-decoration: none;
    color: mixin.$primary-button;
    text-transform: capitalize;
  }
}
