@use '../../mixin.scss' as mixin;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: mixin.$shadow-elevation-3;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: mixin.$neutral-100;
    padding-block: 1.6rem;
  }
  .icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .logo {
      width: 20px;
      height: 20px;
    }
    .text {
      width: 65px;
      height: 16px;
    }
  }
  .desc {
    color: mixin.$primary-text;
  }
}
