@use '../../mixin.scss' as mixin;

.modal {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  background-color: rgba(0, 0, 0, 0.4);

  .modal_content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    padding: 0.5rem;
    margin: auto;
    border-radius: 0.8rem;

    @include mixin.tablet2 {
      min-width: 20%;
      max-width: 75%;
      min-height: 35vh;
      overflow: auto;
    }

    @include mixin.mobile2 {
      max-width: 70%;
      min-height: 30vh;
    }

    @include mixin.desktop2 {
      width: 23%;
    }

    .close {
      color: #aaaaaa;
      position: relative;
      right: -45%;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
    p,
    h1 {
      margin: 0.5rem 0rem;
    }
    p {
      color: mixin.$neutral-700;
      max-width: 50%;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      padding: 0rem 1rem;
      @include mixin.tablet2 {
        overflow: auto;
      }
    }
    h1 {
      color: mixin.$neutral-900;
      text-align: center;
    }
    .choices {
      width: 90%;
      display: flex;
      justify-content: space-around;
      @include mixin.tablet2 {
        margin: 1rem 0rem;
      }
      @include mixin.mobile2 {
        flex-wrap: wrap;
      }
      button {
        margin: 2rem 0.5rem 2rem 0.5rem;
        padding: 0.8rem 1.5rem;
        border: none;
        border-radius: 0.6rem;
        cursor: pointer;
        font-weight: 600;
        flex-wrap: wrap;
        @include mixin.tablet2 {
          flex-wrap: wrap;
          margin: 0.2rem;
        }
      }
      .ubah {
        background-color: white;
        color: mixin.$neutral-900;
        width: 50%;
        border: 1px solid mixin.$neutral-400;
      }
      .masuk {
        color: white;
        border-radius: 0.6rem;
        background-color: mixin.$primary-button;
        width: 50%;
      }
      .ubah,
      .masuk {
        @include mixin.tablet2 {
          width: 100%;
        }
      }
    }
  }
}
