@use '../../mixin.scss' as mixin;

.outer {
  width: 100%;
  height: 100%;
  @include mixin.tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include mixin.desktop {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .flexcontainer {
    padding-top: 80px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    max-width: 456px;
    @include mixin.tablet {
      max-width: 500px;
      padding-top: 64px;
    }

    @include mixin.desktop {
      padding-top: 76px;
      width: 100%;
      height: 100%;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 48px;
    }

    .flexbottom {
      flex-basis: 100%;
      margin-bottom: 24px;
      min-width: 30vw;
      @include mixin.tablet {
        border-radius: 8px;
        padding: 42px;
        margin-top: 32px;
        box-shadow: mixin.$shadow-elevation-3;
      }
      @include mixin.desktop {
        width: auto;
        padding: 42px;
        box-shadow: mixin.$shadow-elevation-6;
      }
      .head {
        display: flex;
        align-items: center;
        justify-content: center;
        .left {
          flex-basis: 10%;
          width: 50%;
        }
        .h3 {
          flex-basis: 90%;
          text-align: center;
          justify-self: center;
          align-self: center;
          text-transform: capitalize;
          color: mixin.$neutral-900;
          @include mixin.desktop {
            margin-top: 0;
          }
        }
      }
      .danger {
        background: rgba(203, 58, 49, 0.1);
        border: 1px solid mixin.$secondary-danger;
        border-radius: 6px;
        padding: 8px 12px 8px 12px;
        text-align: center;
        margin: 1rem 0.5rem;
        margin-top: 2.5rem;
        p {
          color: mixin.$secondary-danger;
        }
      }
    }
  }
}

.danger {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-block: 8px;
  margin-top: 24px;
  border: 1px solid mixin.$secondary-danger;
  border-radius: 8px;
  color: mixin.$secondary-danger;
  background-color: mixin.$secondary-danger-light;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
  @include mixin.desktop {
    margin-top: 42px;
  }
}

.pic {
  width: 100%;
  height: 100%;
}

.syarat {
  color: mixin.$neutral-900;
  text-align: center;
  // margin-block: 42px;
  margin: 1.5rem 0rem 2.5rem 0rem;
  & > * {
    color: mixin.$primary-text;
  }
}

.form {
  margin-top: 24px;
  .form_inputs {
    display: flex;
    justify-content: space-evenly;
  }
  .input {
    border-radius: 6px;
    border: 1px solid mixin.$neutral-400;
    padding: 8px;
    width: 48px;
    height: 48px;
    margin: 0rem 0.1rem;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
    text-align: center;
    &::placeholder {
      color: mixin.$neutral-600;
    }
    &:focus {
      outline: none;
      border: 1px solid mixin.$primary-button;
    }
  }

  .button {
    display: block;
    margin-block: 24px;
    width: 100%;
    padding-block: 8px;
    border-radius: 6px;
    background-color: mixin.$primary-button;
    color: mixin.$neutral-100;
    cursor: pointer;
    text-transform: capitalize;
    border: none;
    &:hover {
      background-color: mixin.$primary-hover;
      transition: background-color 0.2s ease-in-out;
    }
  }
}

.daftar {
  text-align: center;
  text-transform: initial;
  color: mixin.$neutral-900;
  margin-top: 24px;
  span {
    text-decoration: none;
    color: mixin.$primary-button;
    text-transform: capitalize;
    cursor: pointer;
  }
}
