@use '../../mixin.scss' as mixin;
.pilihan {
  background-color: mixin.$neutral-200;
  padding-block: 1px;
  .pilihan_rounded {
    border-radius: 8px;
    background-color: white;
    padding-block: 20px;
    margin: 6px;
    @include mixin.tablet {
      margin: 12px;
    }
    @include mixin.desktop {
      margin: 20px;
    }
    .pilihan_box {
      padding-block: 30px;
      @include mixin.tablet {
        padding-block: 50px;
      }
      @include mixin.desktop {
        padding-block: 80px;
      }
      .pilihan_header {
        text-align: center;
        margin-bottom: 2rem;
        @include mixin.tablet {
          margin-bottom: 3rem;
        }
      }
      .pilihan_items {
        background-color: mixin.$neutral-100;
        gap: 8px;
        overflow: hidden;
        display: grid;
        width: 100%;
        margin-top: 16px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'item1 item2 item3 item4 item5 item6 item7';
        overflow: scroll;
        white-space: nowrap;
        scrollbar-width: none;
        scrollbar-color: transparent;
        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
          margin-top: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: mixin.$neutral-400;
          border-radius: 999px;
          &:hover {
            background-color: mixin.$neutral-500;
          }
        }
        @include mixin.tablet {
          margin-top: 32px;
        }
        @include mixin.desktop {
          margin-top: 48px;
        }

        .pilihan_item1 {
          background-color: white;
          grid-area: item1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border-radius: 8px;
        }
        .pilihan_item2 {
          grid-area: item2;
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
        }
        .pilihan_item3 {
          grid-area: item3;
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
        }
        .pilihan_item4 {
          grid-area: item4;
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
        }
        .pilihan_item5 {
          grid-area: item5;
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
        }
        .pilihan_item6 {
          grid-area: item6;
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
        }
        .pilihan_item7 {
          grid-area: item7;
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
        }
      }
    }
  }
}
.pilihan_img {
  cursor: pointer;
  border-radius: 8px;
  height: 77px;
  width: 156px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 25vw;
  margin: 1.5rem 0.5rem 1rem 0.5rem;
  -webkit-transition: all 0.1s ease-in-out;
  &:hover {
    box-shadow: mixin.$shadow-elevation-2;
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
  }
  &:active {
    transform: scale(0.95);

    transition: all 0.1s ease-in-out;
  }
  @include mixin.tablet {
    height: 124px;
    width: 254px;
  }
  @include mixin.desktop {
    height: 149px;
    width: 307px;
  }
}
