@use '../../mixin.scss' as mixin;

.cards {
  background-color: salmon;
  display: grid;
  background-color: white;
  grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
  grid-gap: 12px;
  height: fit-content;
  justify-items: center;
  align-items: center;
  margin-bottom: 5rem;

  @include mixin.tablet {
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  @include mixin.desktop {
    grid-template-columns: repeat(auto-fill, minmax(242px, 1fr));
  }

  .card_container {
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid mixin.$neutral-400;
    box-shadow: mixin.$shadow-elevation-2;
    cursor: pointer;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.1s ease-in-out;
    &:hover {
      box-shadow: mixin.$shadow-elevation-4;
      transform: scale(1.01);
      transition: all 0.1s ease-in-out;
      .card_photo {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
      }
      &:active {
        transform: scale(0.95);
        transition: all 0.1s ease-in-out;
      }
    }

    .card_top {
      height: 160px;
      overflow: hidden;
      width: 100%;
      position: relative;
      @include mixin.tablet {
        height: 224px;
      }
      @include mixin.desktop {
        height: 250px;
      }
      .card_photo {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
      }
      .card_chip {
        position: absolute;
        top: 12px;
        left: 12px;
        padding-inline: 4px;
        border-radius: 4px;
        background-color: mixin.$secondary-danger;
        color: mixin.$neutral-100;
      }
    }
    .card_bottom {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      margin-inline: 8px;
      height: calc(100% - 16rem);
      align-items: stretch;
      @include mixin.tablet {
        margin-inline: 12px;
        height: calc(100% - 22.4rem);
      }
      @include mixin.desktop {
        margin-inline: 16px;
        height: calc(100% - 25rem);
      }
      .card_name {
        color: mixin.$neutral-800;
        margin-top: 8px;
        inline-size: auto;
        overflow-wrap: break-word;
      }
      .card_prices {
        color: mixin.$neutral-900;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 8px;
        @include mixin.tablet {
          margin-bottom: 16px;
        }
        @include mixin.tablet {
          margin-bottom: 40px;
        }
        .card_price_discount {
          color: mixin.$neutral-700;
          text-decoration: line-through;
        }
      }
      .card_rate {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-block: 8px;
        @include mixin.desktop {
          margin-block: 16px;
        }

        .card_star {
          vertical-align: bottom;
          display: flex;
          align-items: center;
          gap: 6px;
          .star {
            display: inline-block;
            @include mixin.tablet {
              display: none;
            }
          }
        }
        .card_love {
          .card_love_stroke {
            vertical-align: bottom;
            stroke: mixin.$neutral-900;
          }
        }
      }
      .card_button {
        align-self: end;
        display: flex;
        justify-content: center;
        gap: 4px;
        border: none;
        color: mixin.$neutral-100;
        background-color: mixin.$primary-button;
        margin-bottom: 8px;
        padding-block: 6px;
        margin-top: auto;
        border-radius: 4px;
        width: 100%;
        &:hover {
          background-color: mixin.$primary-hover;
          transition: background-color 0.2s ease-in-out;
        }

        @include mixin.desktop {
        }
      }
    }
  }
}
