@use '../../mixin.scss' as mixin;

.produk {
  margin-bottom: 5rem;
  .produk_header {
    text-align: center;
    padding-top: 30px;
    @include mixin.tablet {
      padding-top: 50px;
    }
    @include mixin.tablet {
      padding-top: 80px;
    }
  }
}

.produk_search {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-top: 3rem;
  margin-bottom: 2rem;
  @include mixin.mobile3 {
    justify-content: center;
  }
  @include mixin.tablet {
    justify-content: center;
  }
  @include mixin.desktop {
    text-align: center;
    margin-bottom: 3rem;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}
.produk_search_text {
  color: mixin.$neutral-800;
  font-size: 16px;
  min-width: 100px;
  position: relative;
  padding-block: 14px;
  border-bottom: 1px solid mixin.$neutral-400;
  @include mixin.tablet {
    min-width: 140px;
  }
  @include mixin.desktop {
    min-width: 200px;
    text-align: center;
  }
  &:hover {
    color: mixin.$neutral-900;
    font-weight: 600;
    background-color: mixin.$neutral-200;
    border-bottom: 1px solid mixin.$primary-button;
    transition: all 0.1s ease-in-out;
  }
  &:active {
    background-color: mixin.$neutral-300;
    transition: all 0.1s ease-in-out;
  }
}
.disc {
  padding-block: 30px;
  margin: 4rem 0rem;
  margin: auto;
  @include mixin.tablet {
    padding-block: 50px;
  }
  @include mixin.desktop {
    padding-block: 80px;
  }
  .product_container {
    .disc_container {
      overflow: hidden;
      border-radius: 12px;
      min-width: 160px;
      box-shadow: mixin.$shadow-elevation-2;
      margin: 0rem 1rem 2rem 1rem;
      cursor: pointer;
      @include mixin.tablet {
        min-width: 240px;
      }
      @include mixin.desktop {
        min-width: 250px;
      }

      .disc_top {
        height: 160px;
        overflow: hidden;
        width: 100%;
        position: relative;
        @include mixin.tablet {
          height: 224px;
        }
        @include mixin.desktop {
          height: 250px;
        }
        .disc_photo {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 100%;
          width: 100%;
          &:hover {
            box-shadow: mixin.$shadow-elevation-4;
            transform: scale(1.01);
            transition: all 0.2s ease-in-out;
            -webkit-transition: transform 0.2s;
            .disc_photo {
              transform: scale(1.2);
              transition: all 0.2s ease-in-out;
            }
          }
        }
        .disc_chip {
          position: absolute;
          top: 12px;
          left: 12px;
          padding-inline: 4px;
          border-radius: 4px;
          background-color: mixin.$secondary-danger;
          color: mixin.$neutral-100;
        }
      }
      .disc_bottom {
        margin-inline: 8px;
        @include mixin.tablet {
          margin-inline: 12px;
        }
        @include mixin.desktop {
          margin-inline: 16px;
        }
        .disc_name {
          color: mixin.$neutral-800;
          margin-top: 8px;
          inline-size: 150px;
          overflow-wrap: break-word;
        }
        .disc_prices {
          color: mixin.$neutral-900;
          display: flex;
          align-items: center;
          gap: 8px;
          margin-top: 8px;
          @include mixin.tablet {
            margin-bottom: 16px;
          }
          @include mixin.tablet {
            margin-bottom: 40px;
          }
          .disc_prices_discount {
            color: mixin.$neutral-700;
          }
        }
        .disc_rate {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-block: 8px;
          @include mixin.desktop {
            margin-block: 16px;
          }

          .disc_star {
            display: flex;
            align-items: center;
            gap: 6px;
            .star {
              display: inline-block;
              @include mixin.tablet {
                display: none;
              }
            }
          }
        }
        .disc_button {
          display: flex;
          justify-content: center;
          gap: 4px;
          border: none;
          color: mixin.$neutral-100;
          background-color: mixin.$primary-button;
          margin-bottom: 8px;
          padding-block: 6px;
          border-radius: 4px;
          width: 100%;
          &:hover {
            background-color: mixin.$primary-hover;
            transition: background-color 0.2s ease-in-out;
          }

          @include mixin.desktop {
            display: none;
          }
        }
      }
    }
  }
  .disc_header {
    text-align: center;
    margin-bottom: 16px;
    padding-top: 60px;
    @include mixin.tablet {
      margin-bottom: 32px;
    }
    @include mixin.desktop {
      margin-bottom: 48px;
    }
  }
  .disc_flex {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    gap: 16px;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
}

.cards {
  background-color: salmon;
  display: grid;
  background-color: white;
  grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
  grid-gap: 12px;
  height: fit-content;
  justify-items: center;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: -1.5rem;
  @include mixin.tablet {
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  @include mixin.desktop {
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  }

  .card_container {
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid mixin.$neutral-400;
    box-shadow: mixin.$shadow-elevation-2;
    cursor: pointer;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.1s ease-in-out;
    &:hover {
      box-shadow: mixin.$shadow-elevation-4;
      transform: scale(1.01);
      transition: all 0.1s ease-in-out;
      .card_photo {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
      }
    }
    &:active {
      transform: scale(0.95);
      transition: all 0.1s ease-in-out;
    }

    .card_top {
      height: 160px;
      overflow: hidden;
      width: 100%;
      position: relative;
      @include mixin.tablet {
        height: 224px;
      }
      @include mixin.desktop {
        height: 250px;
      }
      .card_photo {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
      }
      .card_chip {
        position: absolute;
        top: 12px;
        left: 12px;
        padding-inline: 4px;
        border-radius: 4px;
        background-color: mixin.$secondary-danger;
        color: mixin.$neutral-100;
      }
    }
    .card_bottom {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      margin-inline: 8px;
      height: calc(100% - 16rem);
      align-items: stretch;
      @include mixin.tablet {
        margin-inline: 12px;
        height: calc(100% - 22.4rem);
      }
      @include mixin.desktop {
        margin-inline: 16px;
        height: calc(100% - 25rem);
      }
      .card_name {
        color: mixin.$neutral-800;
        margin-top: 8px;
        //!HEREEEEEEEEE
        inline-size: auto;
        overflow-wrap: break-word;
      }
      .card_prices {
        color: mixin.$neutral-900;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 0;
        column-gap: 0.8rem;
        margin-top: 8px;
        @include mixin.tablet {
          margin-bottom: 16px;
        }
        @include mixin.tablet {
          margin-bottom: 40px;
        }
        .card_price_discount {
          color: mixin.$neutral-700;
          text-decoration: line-through;
        }
      }
      .card_rate {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-block: 8px;
        @include mixin.desktop {
          margin-block: 16px;
        }

        .card_star {
          vertical-align: bottom;
          display: flex;
          align-items: center;
          gap: 6px;
          .star {
            display: inline-block;
            @include mixin.tablet {
              display: none;
            }
          }
        }
        .card_love {
          .card_love_stroke {
            vertical-align: bottom;
            stroke: mixin.$neutral-900;
          }
        }
      }
      .card_button {
        align-self: end;
        display: flex;
        justify-content: center;
        gap: 4px;
        border: none;
        color: mixin.$neutral-100;
        background-color: mixin.$primary-button;
        margin-bottom: 8px;
        padding-block: 6px;
        margin-top: auto;
        border-radius: 4px;
        width: 100%;
        &:hover {
          background-color: mixin.$primary-hover;
          transition: background-color 0.2s ease-in-out;
        }

        @include mixin.desktop {
        }
      }
    }
  }
}

.read_or_hide {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 179px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;

  cursor: pointer;
  margin: auto;
  &:hover {
    background-color: mixin.$neutral-200;
    transition: all 0.1s ease-in-out;
  }
  &:active {
    background-color: mixin.$neutral-300;
    transition: all 0.1s ease-in-out;
  }
}
