@use '../../mixin.scss' as mixin;
.kategori {
  background-color: mixin.$neutral-200;
  padding-block: 1px;

  .kategori_rounded {
    border-radius: 8px;
    background-color: white;
    padding: 16px;
    margin: 6px;
    margin-inline: auto;
    @include mixin.tablet {
      margin: 12px;
    }
    @include mixin.desktop {
      margin: 20px;
    }
    .kategori_box {
      padding-block: 30px;
      @include mixin.tablet {
        padding-block: 50px;
      }
      @include mixin.desktop {
        padding-block: 80px;
      }
      .kategori_header {
        text-align: center;
      }
      .kategori_items {
        background-color: mixin.$neutral-400;
        gap: 1px;
        border: 1px solid mixin.$neutral-400;
        border-radius: 10px;
        cursor: pointer;
        display: grid;
        width: 100%;
        margin-top: 16px;
        border-radius: 24px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          'item1 item2 item3'
          'item4 item5 item6';
        @include mixin.tablet {
          margin-top: 32px;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          grid-template-areas: 'item1 item2 item3 item4 item5 item6';
        }
        @include mixin.desktop {
          margin-top: 48px;
        }

        .kategori_item {
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0.8rem;
          user-select: none;
          padding: 0.8rem;
          @include mixin.tablet {
            padding: 1.6rem;
          }
          &:hover {
            background-color: mixin.$neutral-200;
            transition: all 0.1s ease-in-out;
          }
          &:active {
            background-color: mixin.$neutral-300;
            transition: all 0.1s ease-in-out;
          }
        }
      }
    }
  }
}
.kategori_img {
  display: block;
  height: fit-content;
  width: auto;
  aspect-ratio: 154/108;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include mixin.tablet {
    height: 40px;
  }
  @include mixin.desktop {
    height: 70px;
  }
}
