@use '../../mixin.scss' as mixin;
.coret {
  text-decoration: line-through;
}
.pesan {
  padding-block: 1rem;
  @include mixin.tablet {
    padding-block: 2rem;
  }
  @include mixin.desktop {
    padding-block: 4rem;
  }
  .pesanan {
    color: mixin.$neutral-900;
    padding: 1.2rem;
    border: 1px solid mixin.$neutral-400;
    border-radius: 0.6rem;
    box-shadow: mixin.$shadow-elevation-1;
    display: grid;
    grid-template-columns: minmax(1rem, 15rem) auto;
    grid-auto-rows: min-content;
    grid-template-areas: 'a b ' 'a c ' 'd d ' 'e e ';
    grid-gap: 1.2rem;
    margin-top: 1rem;
    @include mixin.tablet {
      grid-template-columns: 23rem 1fr 1fr;
      grid-template-areas: 'a b b' 'a c d' 'a e e';
      grid-gap: 1.6rem;
      padding: 2.4rem;
      margin-top: 1.6rem;
    }
    .pesanan_1 {
      grid-area: a;
      aspect-ratio: 1/1;
      max-height: 20rem;
      display: flex;
      margin-block: auto;
      height: auto;

      .one_image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
    .pesanan_2 {
      grid-area: b;
      align-self: stretch;
      place-self: stretch;
      height: 100%;
    }
    .pesanan_3 {
      grid-area: c;
      align-self: stretch;
      justify-self: stretch;
      align-self: stretch;
      place-self: stretch;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      @include mixin.tablet {
        justify-content: space-between;
      }
      .three_flex {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        flex-wrap: wrap;
        .coret {
          text-decoration: line-through;
        }

        .three_chip {
          color: mixin.$neutral-100;
          background-color: mixin.$secondary-danger;
          border-radius: 0.6rem;
          padding: 0.2rem 0.6rem;
          height: fit-content;
        }
      }
    }
    .pesanan_4 {
      grid-area: d;
      align-self: stretch;
      place-self: stretch;
      display: flex;
      justify-content: space-between;
      .four_topbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.2rem;
        .subtotal {
          color: mixin.$primary-button;
        }
      }
      .four_botbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        gap: 1.2rem;
        .four_flex_button {
          display: flex;
          gap: 1rem;
          align-items: space-between;
          .four_increment {
            cursor: pointer;
            border: none;
            background-color: mixin.$neutral-100;
            .four_increment_svg {
              width: 1.5rem;
              height: 1.5rem;
              @include mixin.tablet {
                width: 2rem;
                height: 2rem;
              }
            }
          }
        }
      }
    }
    .pesanan_5 {
      align-self: stretch;
      place-self: stretch;
      grid-area: e;
      .five_input {
        width: 100%;
        height: 4rem;
        border-radius: 0.4rem;
        border: 1px solid mixin.$neutral-400;
        padding: 0rem 1rem;
      }
      .flex5 {
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        align-items: flex-end;
        margin-block: 1rem;
        button {
          margin-top: 1rem;
          color: mixin.$primary-button;
          border: none;
          background-color: mixin.$neutral-100;
          cursor: pointer;

          padding: 0.2rem 0.6rem;
          border-radius: 0.6rem;
          text-transform: capitalize;
        }
      }
    }
  }
  .co_bottom {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    @include mixin.tablet {
      display: grid;
      margin-top: 2.4rem;
      grid-template-columns: 1.5fr 1fr;
      grid-auto-rows: min-content;
      grid-template-areas: 'a c' 'b c';
      grid-gap: 2.4rem;
    }
    .co_1 {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      grid-area: a;
      padding: 1.2rem;
      border: 1px solid mixin.$neutral-400;
      border-radius: 0.6rem;
      box-shadow: mixin.$shadow-elevation-1;
      @include mixin.tablet {
        padding: 2.4rem;
        margin-bottom: 1.2rem;
      }
      .one_header {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
        align-items: center;
        justify-content: space-between;
        .alamat_pengiriman {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          width: 100%;

          .topside {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            .ubah {
              color: mixin.$primary-button;
              cursor: pointer;
            }
          }
          .downside {
            margin-bottom: 0.5rem;
            margin-top: 1rem;
            p:nth-child(2) {
              color: mixin.$neutral-800;
            }
          }
        }
        .tambah_alamat {
          color: mixin.$primary-button;
          cursor: pointer;
        }
      }
      .one_input {
        width: 100%;
        height: 4rem;
        border-radius: 0.4rem;
        border: 1px solid mixin.$neutral-400;
      }
    }
    .co_2 {
      box-shadow: mixin.$shadow-elevation-1;
      grid-area: b;
      padding: 1.2rem;
      border: 1px solid mixin.$neutral-400;
      border-radius: 0.6rem;
      @include mixin.tablet {
        padding: 2.4rem;
      }
      .two_header {
        display: flex;
        gap: 0.8rem;
        align-items: center;
      }
      .two_input_box {
        padding-block: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        @include mixin.tablet {
          flex-direction: row;
          gap: 2rem;
          width: 100%;
        }
        .two_box {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          select {
            color: mixin.$neutral-900;
            background-color: mixin.$neutral-100;
            box-shadow: none;
            border: 1px solid mixin.$neutral-400;
            height: 3.6rem;
            border-radius: 0.4rem;
          }
          p {
            color: mixin.$neutral-800;
            margin-top: 0.5rem;
            margin-left: 0.5rem;
          }
        }
      }
    }

    .co_3 {
      box-shadow: mixin.$shadow-elevation-1;
      grid-area: c;
      padding: 1.2rem;
      border: 1px solid mixin.$neutral-400;
      border-radius: 0.6rem;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      @include mixin.tablet {
        padding: 2.4rem;
        gap: 2rem;
      }
      .subtotal {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .ongkir {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .garis {
        content: '';
        color: transparent;
        opacity: 0.5;
        width: 100%;
        border-bottom: 2px solid mixin.$primary-button;
        height: 100%;
      }
      .pembayaran {
        display: flex;
        justify-content: space-between;
        color: mixin.$primary-button;
        flex-wrap: wrap;
      }
      .button3 {
        display: block;
        width: 100%;
        cursor: pointer;
        padding-block: 8px;
        border-radius: 6px;
        background-color: mixin.$primary-button;
        color: mixin.$neutral-100;
        text-transform: capitalize;
        border: none;
        &:hover {
          background-color: mixin.$primary-hover;
          transition: background-color 0.2s ease-in-out;
        }
      }
    }
  }
}

.filter_dropdown {
  width: 100%;
  button {
    padding: 0.6rem 1rem 0.6rem 1rem;
    gap: 8px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    border-radius: 6px;
    text-align: justify;
    width: 100%;
    cursor: pointer;
    a {
      color: mixin.$neutral-900;
      text-align: justify;
    }
  }

  .dropdown:hover {
    .isi_dropdown {
      display: flex;
      flex-direction: column;
      @include mixin.tablet2 {
        width: 80%;
      }
    }
  }

  .isi_dropdown {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: white;
    width: 100%;
    border-radius: 6px;
    margin-top: 0.4rem;
    width: 28%;
    padding-right: 1rem;
    cursor: pointer;
    overflow: auto;
    @include mixin.desktop {
      width: 22%;
    }
    @include mixin.tablet2 {
      width: 75%;
    }
    @include mixin.mobile2 {
      width: 80%;
    }
    option {
      color: #3c3c3c !important;
      padding: 1rem 1rem 1rem 1rem;
      width: 100%;
      text-align: justify;
    }
    option:hover {
      color: mixin.$primary-text !important;
      border-radius: 6px;
    }
  }
}
