@use '../../mixin.scss' as mixin;

.heading {
  text-align: center;
  margin: 2.4rem 0 1.6rem 0;
  @include mixin.desktop {
    margin: 3.2rem 0 2.4rem 0;
  }
  @include mixin.desktop {
    margin: 4.8rem 0 3.2rem 0;
  }
}

.pembayaran {
  border: 1px solid mixin.$neutral-400;
  border-radius: 0.8rem;
  padding: 1.6rem;
  box-shadow: mixin.$shadow-elevation-2;
  @include mixin.tablet {
    padding: 3.2rem;
  }
  .top {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    @include mixin.tablet {
      flex-direction: row;
      justify-content: space-between;
      padding: 3.2rem;
    }
    .top1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @include mixin.tablet {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .separator {
      height: 1px;
      width: 100%;
      border: 1px solid mixin.$neutral-400;
      @include mixin.tablet {
        height: auto;
        width: 1px;
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    margin-top: 1.6rem;
    padding-top: 1.6rem;
    gap: 1.6rem;
    border-top: 1px solid mixin.$neutral-400;
    @include mixin.tablet {
      flex-direction: row;
      padding-top: 3.2rem;
    }
    .waktu {
      display: flex;
      justify-content: space-between;
      @include mixin.tablet {
        flex-direction: column-reverse;
        flex-basis: 60%;
        gap: 1.2rem;
      }
      .waktu_text {
        .text_2 {
          color: mixin.$primary-button;
        }
      }
      .chip {
        width: fit-content;
        .chipbox {
          padding: 0.2rem 0.6rem;
          border-radius: 0.6rem;
        }
      }
    }
    .tombol {
      width: 100%;
      @include mixin.tablet {
        flex-basis: 40%;
        justify-content: center;
      }
      .tom {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        .button_blue {
          display: block;
          width: 100%;
          padding-block: 0.6rem;
          background-color: mixin.$primary-button;
          color: mixin.$neutral-100;
          border: none;
          border-radius: 0.6rem;
          cursor: pointer;
          @include mixin.tablet {
            padding-block: 0.8rem;
          }
        }
        .button_blue:hover {
          background-color: mixin.$primary-hover;
          transition: ease 1s;
        }
        .button_white {
          display: block;
          width: 100%;
          padding-block: 0.6rem;
          color: mixin.$neutral-900;
          background-color: mixin.$neutral-100;
          border: 1px solid mixin.$neutral-500;
          border-radius: 0.6rem;
          cursor: pointer;
          @include mixin.tablet {
            padding-block: 0.8rem;
          }
        }
        .button_white:hover {
          background-color: mixin.$neutral-200;
          transition: ease 1s;
        }
        .button_proses {
          width: 16rem;
          height: fit-content;
          padding-block: 0.6rem;
          background-color: mixin.$primary-border;
          border: none;
          color: mixin.$neutral-100;
          border-radius: 0.6rem;
          @include mixin.tablet {
            width: 22rem;
            padding-block: 0.8rem;
          }
          @include mixin.tablet {
            width: 29rem;
          }
        }
      }
      .tom2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .button_blue {
          display: block;
          width: 100%;
          padding-block: 0.6rem;
          background-color: mixin.$primary-border;
          color: mixin.$neutral-100;
          border: none;
          border-radius: 0.6rem;
          cursor: pointer;
          @include mixin.tablet {
            padding-block: 0.8rem;
          }
        }
        .button_white {
          display: block;
          width: 100%;
          padding-block: 0.6rem;
          color: mixin.$neutral-900;
          background-color: mixin.$neutral-100;
          border: 1px solid mixin.$neutral-500;
          border-radius: 0.6rem;
          cursor: pointer;
          @include mixin.tablet {
            padding-block: 0.8rem;
          }
        }
      }
    }
  }
}

.pembelian {
  .pembelianbox {
    margin-block: 1.6rem;
    padding: 1.6rem;
    // background-color: green;
    border: 1px solid mixin.$neutral-400;
    border-radius: 0.8rem;
    box-shadow: mixin.$shadow-elevation-2;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    @include mixin.tablet {
      padding: 3.2rem;
      margin-block: 2.4rem;
    }

    .pem_top {
      display: flex;
      gap: 0.8rem;
      align-items: center;
      .pem_img {
        aspect-ratio: 1/1;
        height: 8.5rem;
      }
      .pem_txt {
        width: 100%;
        @include mixin.mobile2 {
          width: 80%;
        }
        @include mixin.tablet2 {
          width: 80%;
        }
        .txt_flex {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          .chipdisc {
            background-color: mixin.$secondary-danger;
            color: mixin.$neutral-100;
            border-radius: 0.6rem;
            padding: 0.2rem 0.4rem;
            height: fit-content;
            width: fit-content;
            @include mixin.tablet2 {
              font-size: 80%;
            }
          }

          @include mixin.mobile2 {
            flex-wrap: wrap;
          }
        }
        .txt_flex2 {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          .txt_blue {
            color: mixin.$primary-button;
          }
        }
      }
    }
    .pem_bot {
      width: 100%;
      border-radius: 0.6rem;
      box-shadow: none;
      border: 1px solid mixin.$neutral-400;
      height: 3.2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0rem 1rem;
      h3 {
        color: mixin.$neutral-900;
      }
      @include mixin.tablet {
        height: 3.6rem;
      }
      @include mixin.desktop {
        height: 4rem;
      }
    }
  }
}

.rincian {
  display: flex;
  flex-direction: column;
  margin-block: 1.6rem;
  padding: 1.6rem;
  border: 1px solid mixin.$neutral-400;
  border-radius: 0.8rem;
  box-shadow: mixin.$shadow-elevation-2;
  gap: 1.6rem;
  @include mixin.tablet {
    gap: 3.2rem;
    padding: 3.2rem;
  }
  .separator {
    border: 1px solid mixin.$neutral-400;
  }
  .flex1 {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    @include mixin.tablet {
      flex-direction: row;
      gap: 3.2rem;
    }
    .xxxa {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      .head {
        margin-bottom: 0.4rem;
      }
    }
    .xxxb {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      .head {
        margin-bottom: 0.4rem;
      }
    }
  }
  .separator {
    border: 1px solid mixin.$neutral-400;
  }
  .flex2 {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    @include mixin.tablet {
      flex-direction: row;
      gap: 3.2rem;
    }
    .xxxc {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      .head {
        margin-bottom: 0.4rem;
      }
      .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .separator {
      border: 1px solid mixin.$neutral-400;
    }
    .xxxd {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      .head {
        margin-bottom: 0.4rem;
      }
    }
  }
}

.ulasan {
  background-color: rgba(116, 116, 116, 0.432);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  .ulasanbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 90%;
    max-width: 42.8rem;
    background-color: white;
    border-radius: 1.6rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    .produk {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      padding: 1.2rem;
      background-color: mixin.$neutral-200;
      .image {
        aspect-ratio: 1/1;
        width: 7rem;
        height: auto;
      }
    }
    .rating {
      width: 100%;
    }
    .star {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .rating {
        align-self: flex-start;
      }
    }
    .inputbox {
      .input {
        margin-top: 0.8rem;
        width: 100%;
        min-height: 9rem;
        resize: none;
        padding: 1rem;
        box-shadow: mixin.$shadow-inset-3;
        border: 1px solid mixin.$neutral-400;
        border-radius: 0.6rem;
      }
    }
    .boxbot_container {
    }
    .boxbot {
      .but_blue {
        display: block;
        width: 100%;
        cursor: pointer;
        padding-block: 8px;
        border-radius: 6px;
        background-color: mixin.$primary-button;
        color: mixin.$neutral-100;
        text-transform: capitalize;
        border: none;
        &:hover {
          background-color: mixin.$primary-hover;
          transition: background-color 0.2s ease-in-out;
        }
      }
      .but_white {
        display: block;
        margin-top: 1.2rem;
        width: 100%;
        cursor: pointer;
        padding-block: 8px;
        border-radius: 6px;
        background-color: mixin.$neutral-100;
        border: 1px solid mixin.$neutral-600;
        color: mixin.$neutral-900;
        text-transform: capitalize;
        &:hover {
          background-color: mixin.$neutral-300;
          transition: background-color 0.2s ease-in-out;
        }
      }
    }
  }
}

.berhasil {
  background-color: rgba(116, 116, 116, 0.432);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  .berhasilbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 90%;
    max-width: 42.8rem;
    background-color: white;
    border-radius: 1.6rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    text-align: center;
  }
}

.card_wrapper {
  width: 65%;
  margin: auto;
  margin-bottom: 10rem;
  @include mixin.tablet2 {
    width: 90%;
  }
  @include mixin.mobile2 {
    width: 95%;
  }
}
