@use '../../mixin.scss' as mixin;

.detail_page {
  margin: 3rem 0rem;
  @include mixin.desktop {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-gap: 4.8rem;
  }
  .detail_img {
    margin-inline: auto;
    aspect-ratio: 1/1;
    max-height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include mixin.desktop {
      width: 100%;
      height: 100%;
      max-height: 54rem;
    }
  }
  .detail_desc {
    border: 1px solid mixin.$neutral-400;
    padding: 1.6rem;
    border-radius: 0.6rem;
    margin-block: 0.8rem;
    @include mixin.tablet {
      padding: 4.8rem;
      border-radius: 1.6rem;
      margin-block: 3rem;
      @include mixin.desktop {
        margin-block: 0;
      }
    }
    .detail_desc_top {
      .desc_top_flex {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        .desc_top_1 {
          color: mixin.$neutral-900;
        }
        .desc_top_2 {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 0.8rem;
          .harga {
            color: mixin.$primary-button;
          }
          .disc {
            color: mixin.$neutral-700;
            text-decoration: line-through;
          }
          .discchip {
            background-color: mixin.$secondary-danger;
            color: mixin.$neutral-100;
            border-radius: 0.6rem;
            padding-inline: 0.4rem;
          }
        }
        .desc_top_3 {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 0.8rem;
          color: mixin.$neutral-800;
          .star1 {
            display: inline-block;
            @include mixin.tablet {
              display: none;
            }
          }
          .star5 {
            height: 40%;
          }
        }
      }
    }
    .detail_desc_mid {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      border-radius: 0.4rem;
      color: mixin.$primary-button;
      background-color: rgba(62, 123, 250, 0.1);
      padding: 0.8rem;
      margin-block: 1.6rem;
      @include mixin.tablet {
        border-radius: 0.6rem;
        margin-block: 2.4rem;
        gap: 1.2rem;
      }
      .check {
        width: 2rem;
        height: 2rem;
        @include mixin.tablet {
          width: 2.4rem;
          height: 2.4rem;
        }
      }
    }
    .detail_desc_bot {
      text-transform: capitalize;
      .detail_desc_flex {
        display: flex;
        .detail_rincian {
          flex-basis: 20%;
        }
        .detail_detail {
          flex-basis: 80%;
        }
        .detail_desc_text {
          padding-block: 0.8rem;
          border-bottom: 1px solid mixin.$neutral-400;
          width: 100%;
        }
      }
    }
  }
}

.addtocart_wrapper {
  background-color: mixin.$neutral-100;
  border-top: 1px solid mixin.$neutral-500;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 100%;
  .addtocart_sticky {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'a b' 'c c';
    @include mixin.tablet {
      grid-template-columns: 0.6fr 0.6fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'a b c';
      padding-block: 1.6rem;
    }
    @include mixin.desktop {
      grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'x a b c c';
      padding-block: 1.6rem;
      grid-gap: 1.6rem;
    }
    .addtocart_x {
      grid-area: x;
      display: none;
      @include mixin.desktop {
        display: flex;
      }
    }
    .addtocart_flex {
      grid-area: a;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      gap: 0.8rem;
      .addtocart_increment {
        border: none;
        background-color: mixin.$neutral-100;
        .addtocart_increment_svg {
          width: 2rem;
          height: 2rem;
          @include mixin.tablet {
            width: 3.2rem;
            height: 3.2rem;
          }
        }
      }
    }
    .addtocart_price {
      grid-area: b;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .addtocart_y {
      grid-area: y;
      display: none;
      cursor: pointer;
      @include mixin.desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        background-color: mixin.$neutral-100;
        color: mixin.$neutral-900;
        border: 1px solid mixin.$neutral-500;
        border-radius: 0.6rem;
        padding-block: 1.2rem;
        .y_like {
          stroke: mixin.$neutral-900;
        }
      }
    }
    .addtocart_button {
      cursor: pointer;
      grid-area: c;
      background-color: mixin.$primary-button;
      color: mixin.$neutral-100;
      border: none;
      border-radius: 0.6rem;
      padding-block: 1.2rem;
      width: 100%;
      margin-top: 1.2rem;
      @include mixin.tablet {
        margin-top: 0;
      }
    }
  }
}

.deskripsi {
  border: 1px solid mixin.$neutral-400;
  border-radius: 0.6rem;
  padding: 0.8rem;
  margin-block: 0.8rem;
  @include mixin.tablet {
    padding: 1.8rem;
    border-radius: 1.6rem;
    margin-block: 1rem;
  }
  @include mixin.desktop {
    padding: 3rem;
    margin-block: 2rem;
  }
  .deskripsi_flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    border-bottom: 1px solid mixin.$neutral-400;
    .title {
      color: mixin.$neutral-800;
      font-size: 16px;
      min-width: 100px;
      position: relative;
      padding-block: 14px;
      margin: 0rem 0.5rem;
      cursor: pointer;
      @include mixin.tablet {
        min-width: 140px;
      }
      @include mixin.desktop {
        min-width: 200px;
        text-align: center;
      }
      &:hover {
        margin-top: -2px;
        color: mixin.$neutral-900;
        font-weight: 600;
        border-bottom: 3px solid mixin.$primary-button;
      }
    }
    @include mixin.tablet {
      justify-content: flex-start;
      gap: 3rem;
    }
  }
  .deskripsi_text {
    width: 100%;
    margin-block: 2rem;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;

    @include mixin.desktop {
      width: 70%;
    }
  }
  .rating_dan_ulasan {
    margin: 1rem 0.5rem;
    .buttons {
      display: flex;
      gap: 0.8rem;
      flex-wrap: nowrap;
      overflow: scroll;
      padding-block: 1rem;
      scrollbar-width: none;
      scrollbar-color: transparent;
      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        display: none;
      }

      .active {
        background: mixin.$primary-button;
        color: white;
      }
      .x {
        padding: 0.2rem 1.6rem;
        column-gap: 0.6rem;
        row-gap: 0.2rem;
        width: fit-content;
        white-space: nowrap;
        border-radius: 0.6rem;
        background-color: mixin.$neutral-100;
        border: 1px solid mixin.$neutral-400;
        color: mixin.$neutral-900;
        cursor: pointer;
        @include mixin.tablet {
          padding: 0.6rem 2.4rem;
        }
        @include mixin.desktop {
          padding: 0.8rem 3.2rem;
        }

        &:hover {
          background-color: mixin.$neutral-200;
          transition: all 0.1s ease-in-out;
        }
        &:active {
          background-color: mixin.$neutral-300;
          transition: all 0.1s ease-in-out;
        }
      }
    }
    .bintang {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      .angka {
        span {
          color: mixin.$neutral-900 !important;
        }
      }
    }
    .review {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #f5f5f5;
      padding: 1rem 0rem;
      margin: 1rem 0rem;
      .review_info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .user_bintang {
          flex: 1 1 50%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        .user_info {
          flex: 1 1 50%;
          display: flex;
          flex-direction: row;
          p {
            margin: 0rem 0.5rem 0.5rem 0rem;
          }
        }
      }
    }
  }
}
.mungkin_suka {
  padding-block: 1.6rem;
  @include mixin.tablet {
    padding-block: 2rem;
  }
  @include mixin.tablet {
    padding-block: 2.4rem;
  }
}
.product_not_found_container {
  .no_product_recommendation {
    .header {
      margin-block: 0.8rem;
      @include mixin.tablet {
        margin-block: 0.16rem;
      }
    }
  }
}
