@use '../../mixin.scss' as mixin;

.search_container {
  .no_product {
    width: 100%;
    height: auto;
    .no_product_img {
      max-width: 144rem;
      margin-inline: auto;
      display: block;
      object-fit: cover;
      width: 100%;
    }
  }
  .product_not_found_container {
    .no_product_recommendation {
      margin-block: 1.6rem;
      margin-inline: auto;
      @include mixin.tablet {
        margin-block: 3.2rem;
      }
      @include mixin.desktop {
        margin-block: 4.8rem;
      }
      .no_product_recommendation_text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-block: 2rem;
        margin-block: 0.8rem;

        @include mixin.tablet {
          padding-block: 0;
          margin-block: 1.6rem;
        }
        .no_product_recommendation_left {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 1.6rem;
          .header {
            white-space: nowrap;
          }
          p {
            color: mixin.$neutral-800;
            white-space: nowrap;
            display: none;
            @include mixin.desktop {
              display: inline-block;
            }
          }
          .buttons {
            display: none;
            @include mixin.desktop {
              display: flex;
              align-items: center;
              gap: 0.9rem;
            }

            .button {
              padding: 8px 10px;
              background: mixin.$primary-button;
              border-radius: 8px;
              border: none;
              color: mixin.$neutral-100;
            }
          }
        }
      }

      .desktop_details {
        position: relative;
        @include mixin.tablet {
        }
        .desktop_summary {
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.6rem 1.2rem;
          background-color: mixin.$neutral-100;
          box-shadow: mixin.$shadow-elevation-2;
          gap: 1rem;
          .arrow {
            width: 10px;
            height: 10px;
          }
        }
        .desktop_summary_container {
          z-index: 10;
          position: absolute;
          top: 30px;
          right: 0;
          background-color: mixin.$neutral-200;
          border: 1px solid mixin.$neutral-300;
          border: 1px solid mixin.$neutral-300;
          border-radius: 0.8rem;
          width: 150px;
          box-shadow: mixin.$shadow-elevation-4;
          overflow: hidden;
          @include mixin.tablet {
            top: 35px;
            width: 200px;
          }

          .desktop_summary_list {
            background-color: mixin.$neutral-100;
            padding: 0.8rem;
            width: 100%;
            &:hover {
              color: mixin.$primary-hover;
              background-color: mixin.$neutral-200;
            }
          }
        }
      }
    }
  }
}
