@use '../../mixin.scss' as mixin;

.disc {
  padding-block: 30px;
  margin: 4rem 0rem;
  margin: auto;
  @include mixin.tablet {
    padding-block: 50px;
  }
  @include mixin.desktop {
    padding-block: 80px;
  }
  .disc_header {
    text-align: center;
    margin-bottom: 16px;
    padding-top: 30px;
    @include mixin.tablet {
      margin-bottom: 32px;
    }
    @include mixin.desktop {
      margin-bottom: 48px;
    }
  }
  .topflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 0.8rem;
    @include mixin.tablet {
      margin-block: 1.6rem;
    }
    @include mixin.desktop {
      margin-block: 1.6rem;
    }

    .no_product_recommendation_left {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 1.6rem;

      p {
        color: mixin.$neutral-800;
        white-space: nowrap;
        display: none;
        @include mixin.desktop {
          display: inline-block;
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        @include mixin.desktop {
          gap: 0.9rem;
        }

        .button {
          padding: 8px 10px;
          background: mixin.$primary-button;
          border-radius: 8px;
          border: none;
          color: mixin.$neutral-100;
        }
      }
    }
    .lihatsemua {
      color: mixin.$primary-button;
      &:hover {
        color: mixin.$primary-hover;
      }
    }
  }

  .disc_flex_main {
    display: flex;
    min-height: 0;
    min-width: 0;
    align-items: center;
    .fix {
      min-width: 18rem;
      border-radius: 1.6rem;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 32rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mixin.tablet {
        width: 36rem;
        height: 100%;
      }
      @include mixin.desktop {
        width: 47rem;
        height: 100%;
      }
      .imgfix {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    .product_container {
      min-height: 0;
      min-width: 0;
      padding: 10px;
      scrollbar-width: none;
      scrollbar-color: transparent;
      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        display: none;
      }

      .disc_container {
        overflow: hidden;
        border-radius: 12px;
        min-width: 160px;
        border: 1px solid mixin.$neutral-300;
        box-shadow: mixin.$shadow-elevation-2;
        cursor: pointer;
        height: 100%;
        -webkit-transition: all 0.1s ease-in-out;
        &:hover {
          .disc_photo {
            transform: scale(1.1);
            transition: all 0.3s ease-in-out;
          }
          &:active {
            transform: scale(0.95);
            transition: all 0.1s ease-in-out;
          }
        }

        @include mixin.tablet {
          min-width: 240px;
        }
        @include mixin.desktop {
          min-width: 250px;
        }

        .disc_top {
          height: 160px;
          overflow: hidden;
          width: 100%;
          position: relative;
          @include mixin.tablet {
            height: 224px;
          }
          @include mixin.desktop {
            height: 250px;
          }
          .disc_photo {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
          }
        }
        .disc_bottom {
          display: flex;
          height: 160px;
          flex-direction: column;
          margin-inline: 8px;
          @include mixin.tablet {
            margin-inline: 12px;
            height: 200px;
          }
          @include mixin.desktop {
            margin-inline: 16px;
            height: 250px;
          }
          .disc_name {
            overflow: hidden;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            width: 100%;
            color: mixin.$neutral-800;
            margin-top: 8px;
            inline-size: 150px;
            overflow-wrap: break-word;
          }
          .disc_prices {
            color: mixin.$neutral-900;
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 8px;
            @include mixin.tablet {
            }

            .disc_price_discount {
              color: mixin.$neutral-700;
              text-decoration: line-through;
            }
            .disc_chip {
              background-color: mixin.$secondary-danger;
              padding: 0.4rem;
              border-radius: 0.6rem;
              color: mixin.$neutral-100;
            }
          }
          .disc_rate {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            align-items: flex-end;
            margin-block: 8px;
            @include mixin.desktop {
              margin-block: 16px;
            }

            .disc_star {
              display: flex;
              align-items: flex-end;
              gap: 6px;
            }
          }
          .disc_button {
            display: flex;
            justify-content: center;
            gap: 4px;
            border: none;
            color: mixin.$neutral-100;
            background-color: mixin.$primary-button;
            margin-bottom: 8px;
            padding-block: 6px;
            border-radius: 4px;
            width: 100%;
            &:hover {
              background-color: mixin.$primary-hover;
              transition: background-color 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }
}
