@use '../../mixin.scss' as mixin;

.footer_main {
  background-color: mixin.$neutral-200;

  .footer_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas: 'footer_child_1' 'footer_child_2';
    grid-gap: 16px;
    height: fit-content;
    margin-top: 1px solid mixin.$neutral-400;
    padding-block: 16px;
    background-color: mixin.$neutral-200;
    @include mixin.tablet {
      padding-block: 50px;
    }
    @include mixin.desktop {
      padding-block: 48px;
      grid-gap: 24px;
      grid-template-columns: 1fr 1.3fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'footer_child_1 footer_child_2' 'footer_child_1 footer_child_2';
    }

    .footer_child1 {
      grid-area: footer_child_1;
      display: flex;
      flex-direction: column;
      text-align: justify;
      text-justify: distribute-all-lines;
      @include mixin.desktop {
        gap: 4rem;
      }
    }
    .footer_child2 {
      grid-area: footer_child_2;
      color: mixin.$neutral-800;
      width: 100%;
      display: grid;
      grid-gap: 18px;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      @include mixin.desktop {
        grid-gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
      .kat {
        order: 0;
        h5 {
          margin-bottom: 8px;
          @include mixin.desktop {
            margin-bottom: 16px;
          }
        }
      }
      .faq {
        order: 2;
        @include mixin.tablet {
          order: 4;
        }
        h5 {
          margin-bottom: 8px;
          @include mixin.desktop {
            margin-bottom: 16px;
          }
        }
      }
      .ikuti {
        order: 1;
        h5 {
          margin-bottom: 8px;
          @include mixin.desktop {
            margin-bottom: 16px;
          }
        }
      }
      .bantuan {
        order: 3;
        @include mixin.tablet {
          order: 5;
        }
        h5 {
          margin-bottom: 8px;
          @include mixin.desktop {
            margin-bottom: 16px;
          }
        }
      }
      .privasi {
        order: 4;
        @include mixin.tablet {
          order: 3;
        }
        h5 {
          margin-bottom: 8px;
          @include mixin.desktop {
            margin-bottom: 16px;
          }
        }
      }
      .layanan {
        order: 5;
        @include mixin.desktop {
          order: 2;
        }
        h5 {
          margin-bottom: 8px;
          @include mixin.desktop {
            margin-bottom: 16px;
          }
        }
      }
      .download {
        order: 6;
        grid-column: 1 / span 2;
        @include mixin.tablet {
          grid-column: 1/1;
        }
        h5 {
          margin-bottom: 8px;
          @include mixin.desktop {
            margin-bottom: 16px;
          }
        }
      }
      .icon1 {
        order: 7;
        .googleplay {
          width: 9.6rem;
          height: auto;
        }
      }
      .icon2 {
        order: 8;
        width: 9.6rem;
        height: auto;
        .appstore {
          width: 9.6rem;
          height: auto;
        }
      }
    }
  }
}
