@use '../../mixin.scss' as mixin;

.border {
  border-bottom: 1px solid mixin.$neutral-500;
  background-color: mixin.$neutral-100;
  padding-block: 0.8rem;
  @include mixin.tablet {
    padding-block: 1.6rem;
  }
  @include mixin.desktop {
    padding-block: 2.4rem;
  }
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    'main main'
    'child1 child2';
  gap: 8px;
  height: 238px;
  margin-top: 8px;
  @include mixin.tablet {
    height: 510px;
    margin-top: 16px;
  }
  @include mixin.desktop {
    height: 422px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'child1 main'
      'child2 main';
    margin-top: 24px;
  }
  .content_main {
    grid-area: main;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    user-select: none;

    .content_carousel {
      display: block;
      border-radius: 8px;
      width: 100% !important;
      height: 100% !important;
      position: relative;
      :global(.carousel) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      :global(.carousel .control-dots) {
        position: inherit;
        margin: 0;
        bottom: 16px;
      }
      :global(.carousel .control-dots .dot) {
        background-color: mixin.$neutral-100;
        box-shadow: none;
        width: 5px;
        height: 5px;
        opacity: 1;
        margin: 8px 1px;
        @include mixin.tablet {
          width: 6px;
          height: 6px;
          margin: 24px 2px;
        }
        @include mixin.desktop {
          width: 0.8rem;
          height: 0.8rem;
          margin: 16px 4px;
        }
      }
      :global(.carousel .control-dots .selected) {
        background-color: mixin.$primary-button;
        opacity: 1;
      }
      .img_primary {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // min-height: 23vh;
        min-height: 160px;
        width: 100%;
        display: block;
        position: relative;
        @include mixin.tablet {
          min-height: 344px;
        }
        @include mixin.desktop {
          min-height: 422px;
        }
      }
    }
  }
  .content_child1 {
    grid-area: child1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
  }
  .content_child2 {
    grid-area: child2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
  }
}

.layanan_grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'layanan1 layanan2'
    'layanan3 layanan4';
  margin-block: 1.6rem;
  @include mixin.tablet {
    margin-block: 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'layanan1 layanan2 layanan3 layanan4';
    margin-block: 3.2rem;
  }
  @include mixin.desktop {
    margin-block: 48px;
    font-size: 14px;
  }
  .layanan1,
  .layanan2,
  .layanan3,
  .layanan4 {
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    @include mixin.desktop {
      flex-direction: row;
      text-align: start;
      gap: 16px;
    }
  }

  .layanan1 {
    grid-area: layanan1;
  }
  .layanan2 {
    grid-area: layanan2;
  }
  .layanan3 {
    gap: 8px;
    grid-area: layanan3;
  }
  .layanan4 {
    grid-area: layanan4;
  }
}
