@use '../../mixin.scss' as mixin;
.open {
  display: block;
  @include mixin.desktop {
    display: none;
  }
}
.close {
  display: none;
}

.openbg {
  display: none;
  @include mixin.desktop {
    display: none;
  }
}
.closebg {
  display: block;
  @include mixin.desktop {
    display: none;
  }
}

.topbar_wrap {
  background-color: mixin.$neutral-900;
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: mixin.$neutral-100;
    min-height: 52px;
    .topbar_left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
      @include mixin.tablet {
        gap: 0.4rem;
      }
      @include mixin.mobile {
        gap: 0.8rem;
      }
    }
    .topbar_right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.8rem;
      @include mixin.tablet {
        gap: 1.6rem;
      }
      @include mixin.mobile {
        gap: 2.4rem;
      }
    }
  }
}

.header {
  color: mixin.$neutral-900;
  padding-block: 8px;
  background-color: mixin.$neutral-200;
  box-shadow: mixin.$shadow-elevation-2;
  position: relative;
  .nav {
    position: relative;
    .nav_wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      .nav_icon {
        display: none;
        @include mixin.desktop {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
        .logo {
          width: 20px;
          height: 20px;
        }
        .text {
          width: 65px;
          height: 16px;
        }
      }
      .nav_hamburger {
        background-color: transparent;
        border: none;
        @include mixin.desktop {
          display: none;
        }
      }
      .nav_search {
        max-width: 700px;
        width: 100%;
        position: relative;
        .nav_search_input {
          width: 100%;
          height: 28px;
          color: mixin.$neutral-900;
          box-shadow: inset mixin.$shadow-inset-3;
          border: 1px solid mixin.$neutral-400;
          border-radius: 6px;
          padding-inline: 12px;
          &:focus {
            outline: 1px solid mixin.$primary-button;
          }
        }
        .nav_search_icon {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }
      .nav_carts {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        .nav_carts_bell,
        .nav_carts_cart {
          background-color: transparent;
          border: none;
        }
        .username {
          color: mixin.$primary-text;
          text-align: center;
          justify-content: center;
          align-items: center;
          .username_arrow {
            color: pink;
            font-size: 50px;
            @include mixin.tablet {
              font-size: 70px;
            }
          }
          svg {
            @include mixin.tablet {
              width: 40px;
              position: relative;
              margin-top: 1rem;
            }
            @include mixin.desktop {
              width: 20px;
              margin-top: 0rem;
            }
          }
          @include mixin.mobile2 {
            display: none;
          }
          @include mixin.mobile {
            display: none;
          }
          @include mixin.tablet {
            display: flex;
          }
        }
        .nav_login {
          display: none;
          padding: 0.6rem 2.6rem;
          color: mixin.$neutral-100;
          background-color: mixin.$primary-button;
          border: none;
          border-radius: 0.6rem;
          &:hover {
            background-color: mixin.$primary-hover;
            transition: background-color 0.1s ease-in-out;
          }
          &:active {
            background-color: mixin.$primary-pressed;
            transition: color 0.1s ease-in-out;
          }
          @include mixin.mobile2 {
            background-color: lavender;
          }
          @include mixin.tablet {
            display: inline-block;
          }
        }
      }
    }
    .nav_bottom_hidden {
      position: absolute;
      z-index: 10;
      top: 36px;
      width: 100%;
      padding-bottom: 2rem;
      background-color: mixin.$neutral-100;
      @include mixin.tablet {
        top: 40px;
        padding-bottom: 3rem;
      }
      .username_profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        .username {
          color: mixin.$neutral-900;
          font-weight: 500;
          margin-top: 0.5rem;
        }
      }
      .nav_bottom_hidden_login {
        display: block;
        cursor: pointer;
        width: 100%;
        background-color: mixin.$primary-button;
        color: mixin.$neutral-100;
        border: none;
        border-radius: 6px;
        padding-block: 6px;
        margin-block: 16px;
        @include mixin.tablet {
          display: none;
        }
        &:hover {
          background-color: mixin.$primary-hover;
        }
      }

      .nav_bottom_hidden_kategori {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        background-color: mixin.$neutral-100;
        color: mixin.$neutral-900;
        border: none;
        padding-block: 8px;

        .nav_bottom_hidden_mainlist {
          display: block;
          width: 100%;
          color: mixin.$primary-text;
          border: none;
          padding-bottom: 8px;
        }
        .nav_bottom_hidden_list {
          display: flex;
          align-self: start;
          justify-content: space-between;
          width: 100%;
          color: mixin.$neutral-900;
          border-bottom: 1px solid mixin.$neutral-400;
          &:hover {
            border: none;
          }

          .summary {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            list-style: none;
            padding: 1.2rem;
            &:hover {
              background-color: mixin.$neutral-200;
              border-radius: 0.8rem;
              border: 1px solid mixin.$neutral-500;
            }
            &:active {
              background-color: mixin.$neutral-300;
            }
          }
          .summary_container {
            border-radius: 0.8rem;
            background-color: mixin.$neutral-200;
            .summary_list {
              cursor: pointer;
              padding: 1.2rem;

              &:hover {
                background-color: mixin.$primary-focus;
                color: mixin.$primary-text;
                font-weight: 600;
                border: 1px solid mixin.$primary-text;
                border-radius: 8px;
              }
            }
          }
        }

        .user_navbar {
          padding: 1rem 0.5rem;
          .akun {
            color: mixin.$neutral-900;
            margin-bottom: 1px solid mixin.$neutral-500;
          }
          p {
            padding: 1rem;
            color: mixin.$neutral-800;
            &:hover {
              background-color: mixin.$neutral-200;
            }
            &:active {
              background-color: mixin.$neutral-300;
            }
          }
          .nav_login {
            padding: 1rem 0.5rem;
          }
        }
      }
    }
  }
  .backgroundblur {
    position: absolute;
    background-color: mixin.$neutral-900;
    opacity: 0.4;
    position: absolute;
    top: 100px;
    left: 0;
    height: 500vh;
    width: 100%;
    z-index: 1;
  }
}
.desktop_bottom {
  display: none;
  @include mixin.desktop {
    display: flex;
    border-bottom: 1px solid mixin.$neutral-400;
    justify-content: center;
  }
  .desktop_flex {
    display: flex;
    gap: 2.4rem;
    padding-block: 1.6rem;
    align-items: center;
    .desktop_flex_content {
      display: flex;
      gap: 0.6rem;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .desktop_details {
        padding: 0.4rem 1rem;
        border-radius: 0.6rem;
        user-select: none;
        &:hover {
          background-color: mixin.$neutral-200;
          transition: background-color 0.2s ease-in-out;
        }
        &:active {
          background-color: mixin.$neutral-300;
          transition: color 0.2s ease-in-out;
        }
        .desktop_summary {
          list-style: none;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;
          user-select: none;
          .namakategori {
            user-select: none;
          }
        }
        .desktop_summary_container {
          z-index: 10;
          position: absolute;
          top: 30px;
          left: 0;
          background-color: mixin.$neutral-200;
          border: 1px solid mixin.$neutral-300;
          padding: 0.8rem;
          border-radius: 0.8rem;
          box-shadow: mixin.$shadow-elevation-4;
          .desktop_summary_list {
            border: 1px solid mixin.$neutral-300;
            margin-bottom: 8px;
            background-color: white;
            padding: 0.8rem;
            width: 120px;
            border-radius: 8px;
          }
        }
      }
    }
  }
}

.filter_dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixin.tablet2 {
    display: none;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mixin.$neutral-200;
    border: 1px solid mixin.$primary-button;
    border-radius: 0.8rem;
    text-align: justify;
    width: 100%;
    color: mixin.$primary-text;
    cursor: pointer;
    a {
      color: mixin.$neutral-900;
      text-align: justify;
    }
  }

  .dropdown:hover {
    .isi_dropdown {
      display: flex;
      flex-direction: column;
      @include mixin.tablet2 {
        width: 93%;
      }
    }
  }

  .isi_dropdown {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: white;
    border-radius: 6px;
    width: 28%;
    right: 3%;
    top: 100%;
    cursor: pointer;
    @include mixin.desktop {
      width: 15.5%;
    }
    option {
      color: #3c3c3c !important;
      padding: 1rem 11.5rem 1rem 1rem;
      width: 100%;
      text-align: justify;
    }
    option:hover {
      color: mixin.$primary-text !important;
      background-color: mixin.$neutral-200;
      border-radius: 6px;
    }
  }
}
