@use '../../mixin.scss' as mixin;

.outer {
  width: 100%;
  height: 100%;
  @include mixin.desktop {
    display: flex;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
  }

  .flexcontainer {
    padding-top: 56px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
    @include mixin.tablet {
      display: inline-block;
      padding-inline: 168px;
      padding-top: 64px;
    }

    @include mixin.desktop {
      padding-top: 76px;
      width: 100%;
      height: 100%;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 48px;
    }

    .flexup {
      flex-basis: 90%;
      margin-top: 16px;
      text-align: center;
      .button_bukti {
        width: 100%;
        border: none;
      }
      .button {
        display: block;
        width: 100%;
        cursor: pointer;
        padding-block: 8px;
        border-radius: 6px;
        background-color: mixin.$primary-button;
        color: mixin.$neutral-100;
        text-transform: capitalize;
        border: none;
        &:hover {
          background-color: mixin.$primary-hover;
          transition: background-color 0.2s ease-in-out;
        }
      }
    }
    .flexbottom {
      flex-basis: 100%;
      margin-bottom: 24px;
      @include mixin.tablet {
        border-radius: 8px;
        padding: 42px;
        margin-top: 32px;
        box-shadow: mixin.$shadow-elevation-3;
      }
      @include mixin.desktop {
        width: auto;
        padding: 42px;
        box-shadow: mixin.$shadow-elevation-6;
      }
    }
  }
}

.pic {
  width: 100%;
  height: 100%;
}

.h3 {
  text-transform: capitalize;
  color: mixin.$neutral-900;
  padding: 2rem 0rem 0rem 0rem;
  @include mixin.desktop {
    margin-top: 0;
  }
}

.tanggal {
  margin: 1rem 0rem 1.6rem 0rem;
  color: mixin.$primary-button;
}

.accent {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block: 8px;
  .strip {
    height: 1px;
    width: 100%;
    background-color: mixin.$neutral-600;
  }
  .p {
    color: mixin.$neutral-600;
  }
}

.buttongoogle {
  display: block;
  width: 100%;
  padding-block: 8px;
  border: 1px solid mixin.$neutral-600;
  border-radius: 6px;
  background-color: mixin.$neutral-100;
  text-transform: capitalize;
  &:hover {
    background-color: mixin.$neutral-200;
    transition: background-color 0.2s ease-in-out;
  }
  .link {
    text-decoration: none;
    color: mixin.$neutral-900;
    .flex {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 4px;
    }
  }
}

.flexright {
  flex-basis: 100%;
  width: 100%;
  margin-bottom: 24px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
  border-radius: 16px;
  margin-top: 240px;
  @include mixin.tablet {
    border-radius: 8px;
    margin-top: 32px;
    box-shadow: mixin.$shadow-elevation-3;
  }
  @include mixin.desktop {
    width: auto;
    margin-top: 0px;
    box-shadow: mixin.$shadow-elevation-6;
  }

  .bca {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .pt {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: flex-end;
      justify-content: flex-start;
      min-width: 50%;
      .shonic {
        font-weight: 700;
      }
      p {
        margin: 0.2rem;
        text-align: end;
      }
    }
    .one_image {
      width: 30%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    .nama_bank {
      height: 100%;
      min-width: 50%;
      img {
        width: 50%;
        height: auto;
      }
    }
  }
  .rekening {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem 0rem;
    align-items: center;
    padding: 10px 16px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    .no_rekening {
      display: flex;
      flex-direction: column;
      .no {
        color: mixin.$neutral-900;
      }
      .total {
        color: mixin.$primary-button;
      }
    }
    .copas {
      background-color: mixin.$neutral-100;
      padding: 0.6rem;
      border-radius: 0.8rem;
      cursor: pointer;
      &:hover {
        background-color: mixin.$neutral-200;
        transition: background-color 0.2s ease-in-out;
      }
      &:active {
        background-color: mixin.$neutral-300;
        transition: background-color 0.2s ease-in-out;
      }
    }
  }
  .informasi_pembayaran {
    ul {
      list-style-type: initial;
      margin-left: 1.5rem;
      margin-top: 1rem;
    }
    li {
      color: mixin.$neutral-900;
      margin: 0.5rem 0rem;
    }
    a {
      color: mixin.$primary-button;
    }
  }
}

.flexbottom_container {
  width: 90%;
  margin: 2rem auto;
  .strip {
    color: pink;
    background-color: mixin.$neutral-400;
    margin: 1rem 0rem;
  }
}
