@use '../../mixin.scss' as mixin;

.modal {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  background-color: rgba(0, 0, 0, 0.4);

  .modal_content {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    width: 55%;
    margin: 3rem auto;
    padding: 1rem 3rem;
    border-radius: 0.8rem;
    background-color: white;
    overflow: auto;

    @include mixin.tablet2 {
      width: 65%;
      height: 90%;
    }

    @include mixin.mobile2 {
      width: 90%;
      min-height: 90%;
    }

    .informasi_penerima {
      margin-top: 2rem;
    }
    .informasi_penerima,
    .alamat_penerima {
      margin-bottom: 3rem;

      .box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include mixin.tablet2 {
          flex-direction: column;
        }
        label {
          margin: 1rem 0rem 0rem 0rem;
          color: mixin.$neutral-900;
        }
        .isi_box {
          display: flex;
          flex-direction: column;
          width: 49%;
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          input[type='number'] {
            -moz-appearance: textfield;
          }
          @include mixin.tablet2 {
            width: 100%;
          }
        }

        input[type='text'],
        input[type='number'] {
          width: 100%;
          padding: 12px 12px;
          margin: 3px 0px;
          border: 1px solid #e0e0e0;
          color: mixin.$neutral-600;
          box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
          border-radius: 6px;
        }
      }

      .alamat {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        label {
          margin: 1rem 0rem 0rem 0rem;
          color: mixin.$neutral-900;
        }
        .isi_alamat {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
        textarea {
          background: #ffffff;
          border: 1px solid #e0e0e0;
          box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
          border-radius: 6px;
          margin: 3px 0px;
          color: #9e9e9e;
          padding: 12px 12px;
        }
      }
    }
    .buttons {
      display: flex;
      flex-direction: column;
      width: 100%;
      button {
        margin: 0.5rem 0rem 0.8rem 0rem;
        padding: 8px 16px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        border: none;
        cursor: pointer;
      }
      .simpan {
        background: mixin.$primary-button;
        color: white;
      }
      .kembali {
        color: mixin.$neutral-900;
        background-color: white;
        border: 1px solid #c2c2c2;
      }
    }
  }
}

.provinsi_dropdown {
  .dropdown {
    width: 100%;
    padding: 11px 12px;
    text-align: justify;
    margin: 4px 0px;
    border: 1px solid #e0e0e0;
    color: mixin.$neutral-600;
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: white;
  }
  .dropdown:hover {
    .isi_dropdown {
      display: flex;
      flex-direction: column;
    }
  }

  .isi_dropdown {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: white;
    border-radius: 6px;
    margin-top: 1.3rem;
    width: 28%;
    max-height: 40vh;
    overflow: scroll;
    cursor: pointer;

    @include mixin.desktop {
      width: 25%;
      margin-left: -1.3rem;
    }
    @include mixin.tablet2 {
      width: 56%;
      margin-left: -1.3rem;
    }
    option {
      color: #3c3c3c !important;
      padding: 0rem 11.5rem 0rem 1rem;
      width: 100%;
      text-align: justify;
    }
    option:hover {
      color: mixin.$primary-text !important;
      background-color: mixin.$neutral-200;
      border-radius: 6px;
    }
  }
}
