@use '../../mixin.scss' as mixin;

.search_container {
  color: mixin.$neutral-900;
  overflow: hidden;

  .product_not_found_container {
    .no_product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1.6rem;
      gap: 2.4rem;
      @include mixin.tablet {
        flex-direction: row;
      }
      .imgku {
        max-width: 40rem;
        @include mixin.tablet {
          flex-basis: 50%;
        }
        .imglost {
          width: 100%;
          width: 100%;
        }
      }
      .no_product__title {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        @include mixin.tablet {
          flex-basis: 50%;
          gap: 2.4rem;
        }
      }
    }

    .no_product_recommendation {
      .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-gap: 12px;
        height: fit-content;
        justify-items: center;
        align-items: center;
        margin-bottom: 5rem;
        @include mixin.tablet2 {
          grid-gap: 16px;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        @include mixin.desktop {
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }

        .card_container {
          overflow: hidden;
          border-radius: 12px;
          border: 1px solid mixin.$neutral-400;
          box-shadow: mixin.$shadow-elevation-2;
          cursor: pointer;
          width: 100%;
          height: 100%;
          margin-bottom: 1rem;
          @include mixin.mobile2 {
          }
          &:hover {
            box-shadow: mixin.$shadow-elevation-4;
            transform: scale(1.01);
            transition: all 0.2s ease-in-out;
            -webkit-transition: transform 0.2s;
            .card_photo {
              transform: scale(1.2);
              transition: all 0.2s ease-in-out;
            }
          }

          .card_top {
            height: 160px;
            overflow: hidden;
            width: 100%;
            position: relative;
            @include mixin.tablet {
              height: 224px;
            }
            @include mixin.desktop {
              height: 250px;
            }
            .card_photo {
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              height: 100%;
              width: 100%;
            }
            .card_chip {
              position: absolute;
              top: 12px;
              left: 12px;
              padding-inline: 4px;
              border-radius: 4px;
              background-color: mixin.$secondary-danger;
              color: mixin.$neutral-100;
            }
          }
          .card_bottom {
            display: flex;
            flex-direction: column;
            align-content: space-between;
            margin-inline: 8px;
            align-items: stretch;
            @include mixin.tablet {
              margin-inline: 12px;
            }
            @include mixin.desktop {
              margin-inline: 16px;
            }
            .card_name {
              color: mixin.$neutral-800;
              margin-top: 8px;
              inline-size: 150px;
              overflow-wrap: break-word;
            }
            .card_prices {
              color: mixin.$neutral-900;
              display: flex;
              align-items: center;
              gap: 8px;
              margin-top: 8px;
              @include mixin.tablet {
                margin-bottom: 16px;
              }
              @include mixin.tablet {
                margin-bottom: 40px;
              }
              .card_price_discount {
                color: mixin.$neutral-700;
                text-decoration: line-through;
              }
            }
            .card_rate {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-block: 8px;
              @include mixin.desktop {
                margin-block: 16px;
              }

              .card_star {
                display: flex;
                align-items: center;
                gap: 6px;
              }
            }
            .card_button {
              display: flex;
              justify-content: center;
              gap: 4px;
              border: none;
              color: mixin.$neutral-100;
              background-color: mixin.$primary-button;
              margin-bottom: 8px;
              padding-block: 6px;
              margin-top: auto;
              border-radius: 4px;
              width: 100%;
              &:hover {
                background-color: mixin.$primary-hover;
                transition: background-color 0.2s ease-in-out;
              }

              @include mixin.desktop {
                display: none;
              }
            }
          }
        }
      }
      .header {
        margin-block: 1.6rem;
        @include mixin.tablet {
          margin-block: 2.4rem;
        }
      }
    }
  }
}
