@use '../../mixin.scss' as mixin;

.profile_container {
  width: 70%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 69vh;
  @include mixin.mobile {
    width: 100%;
  }
  @include mixin.mobile2 {
    width: 100%;
  }
  @include mixin.desktop {
    width: 70%;
  }

  h3 {
    color: mixin.$neutral-900;
  }
  .biodata_diri {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
    @include mixin.mobile {
      width: 100%;
    }
    @include mixin.mobile2 {
      width: 100%;
    }
    @include mixin.tablet {
      width: 90%;
    }
    h3 {
      color: mixin.$neutral-900;
      margin-top: 0.5rem;
    }

    form {
      width: 100%;
      margin: 1rem 0rem;
      .field_container {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 1.2rem auto;
        @include mixin.tablet2 {
          flex-direction: column;
        }
      }
      .div {
        margin-block: 12px;
        width: 49%;
        margin: auto;
        @include mixin.tablet2 {
          width: 94%;
          margin: auto 1rem;
        }

        .label {
          display: block;
          text-transform: capitalize;
          color: mixin.$neutral-900;
        }
        .input {
          display: block;
          margin-top: 4px;
          margin-bottom: 0.5rem;
          padding: 8px;
          width: 100%;
          background: #ffffff;
          border: 1px solid #e0e0e0;
          box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
          border-radius: 6px;
          &::placeholder {
            color: mixin.$neutral-600;
          }
          &:focus {
            outline: none;
            border: 1px solid mixin.$primary-button;
          }
        }
        .input::-webkit-outer-spin-button,
        .input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        .input[type='number'] {
          -moz-appearance: textfield;
        }
        .email {
          display: block;
          margin-top: 4px;
          margin-bottom: 0.5rem;
          padding: 8px;
          width: 100%;
          background: mixin.$neutral-300;
          border: 1px solid #e0e0e0;
          box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
          border-radius: 6px;
          &::placeholder {
            color: mixin.$neutral-500;
          }
          &:focus {
            outline: none;
            border: 1px solid mixin.$primary-button;
          }
        }
        span {
          color: mixin.$secondary-danger;
        }
      }
      .jenis_kelamin {
        display: flex;
        flex-direction: row;
        @include mixin.mobile2 {
          flex-wrap: wrap;
        }
        margin-left: 0.5rem;
        .radio_container {
          display: flex;
          flex-direction: row;
          width: 60%;
          margin-left: 2rem;
          flex-wrap: wrap;
          @include mixin.mobile2 {
            flex-direction: column;
            width: 100%;
            margin-left: 0rem;
          }
          .radio {
            margin: 0rem 1rem 0rem 0rem;
          }
          input {
            margin: 0.4rem;
          }
          label {
            position: relative;
            bottom: 0.2rem;
          }
        }
      }
      .button {
        display: block;
        margin-top: 24px;
        width: 100%;
        cursor: pointer;
        padding-block: 8px;
        border-radius: 6px;
        background-color: mixin.$primary-border;
        color: mixin.$neutral-100;
        text-transform: capitalize;
        border: none;
        &:hover {
          background-color: mixin.$primary-hover;
          transition: background-color 0.2s ease-in-out;
        }
      }
    }
  }
  .alamat_pengiriman {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    margin-top: 2.5rem;
    padding: 1rem 1.5rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
    @include mixin.mobile {
      width: 100%;
    }
    @include mixin.mobile2 {
      width: 100%;
    }
    @include mixin.tablet {
      width: 90%;
    }
    .topside {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 1rem;
      .ubah {
        color: mixin.$primary-button;
        cursor: pointer;
      }
    }
    .downside {
      margin-bottom: 0.5rem;
      p:nth-child(2) {
        color: mixin.$neutral-800;
      }
    }
  }
  .password {
    width: 90%;
    margin-top: 2.5rem;
    padding: 1rem 1.5rem 0.5rem 1.5rem;

    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
    .topside {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 1rem;
      .ubah {
        color: mixin.$primary-button;
        cursor: pointer;
      }
    }
  }
}
