@use '../../mixin.scss' as mixin;

.riwayat {
  color: mixin.$neutral-800;
  .riwayat_header {
    text-align: center;
    padding-top: 30px;
    @include mixin.tablet {
      padding-top: 50px;
    }
    @include mixin.tablet {
      padding-top: 80px;
    }
  }
}

.riwayat_search {
  color: mixin.$neutral-800;
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  overflow-x: scroll;
  scrollbar-width: none;
  margin-top: 3rem;
  margin-bottom: 2rem;
  @include mixin.mobile3 {
    justify-content: center;
  }
  @include mixin.tablet {
    justify-content: center;
  }
  @include mixin.desktop {
    text-align: center;
    margin-bottom: 3rem;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}
.riwayat_search_text {
  color: mixin.$neutral-800;
  font-size: 16px;
  min-width: 100px;
  position: relative;
  padding-block: 14px;
  border-bottom: 1px solid mixin.$neutral-400;
  @include mixin.tablet {
    min-width: 140px;
  }
  @include mixin.desktop {
    min-width: 200px;
    text-align: center;
  }
  &:hover {
    color: mixin.$neutral-900;
    font-weight: 600;
    background-color: mixin.$neutral-200;
    border-bottom: 1px solid mixin.$primary-button;
  }
}

.riwayat_main_grid {
  border: 1px solid mixin.$neutral-400;
  border-radius: 0.8rem;
  margin-block: 0.8rem;
  margin-bottom: 2rem;
  display: grid;
  padding: 1.6rem;
  box-shadow: mixin.$shadow-elevation-2;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  grid-template-areas: 'info info chip' 'image image image' 'price button button';
  @include mixin.tablet {
    padding: 2.4rem;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 'image chip' 'image price' 'info button';
  }
  @include mixin.desktop {
    padding: 3.2rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'chip image price' 'info image button';
  }

  .image {
    grid-area: image;
    display: flex;
    width: 100%;
    gap: 2.4rem;
    padding-block: 0.8rem;
    border-bottom: 1px solid mixin.$neutral-400;
    margin-bottom: 0.8rem;
    @include mixin.tablet {
      padding-block: 0;
      margin-bottom: 0rem;
      border: none;
    }
    @include mixin.desktop {
      padding-block: 0;
      margin-bottom: 0rem;
    }
    .laptop {
      aspect-ratio: 1/1;
      width: 40%;
      max-width: 12.2rem;
      height: auto;
      object-fit: cover;
    }
    .laptop_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.4rem;
    }
  }
  .chip {
    grid-area: chip;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include mixin.desktop {
      justify-content: flex-start;
      align-items: flex-start;
    }

    .chipbox {
      height: fit-content;
      text-align: center;
      padding: 0.2rem 0.6rem;
      border-radius: 0.4rem;
    }
  }
  .price {
    grid-area: price;
    display: flex;
    flex-direction: column;
    @include mixin.tablet {
      justify-content: center;
      align-items: flex-end;
    }
  }
  .info {
    grid-area: info;
    p {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    @include mixin.tablet {
      border-top: 1px solid mixin.$neutral-400;
      padding-top: 1.6rem;
      margin-top: 1.6rem;
    }
    @include mixin.desktop {
      border: none;
      padding-top: 0;
      margin-top: 0;
    }
  }
  .button {
    grid-area: button;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include mixin.tablet {
      border-top: 1px solid mixin.$neutral-400;
      padding-top: 1.6rem;
      margin-top: 1.6rem;
    }
    @include mixin.desktop {
      border: none;
      padding-top: 0;
      margin-top: 0;
    }
    .button_buy {
      width: 12rem;
      height: fit-content;
      padding-block: 0.6rem;
      background-color: mixin.$primary-button;
      border: none;
      color: mixin.$neutral-100;
      border-radius: 0.6rem;
      cursor: pointer;
      @include mixin.tablet {
        width: 22rem;
        padding-block: 0.8rem;
      }
      @include mixin.tablet {
        width: 29rem;
      }
    }
    .button_proses {
      width: 16rem;
      height: fit-content;
      padding-block: 0.6rem;
      background-color: mixin.$primary-border;
      border: none;
      color: mixin.$neutral-100;
      border-radius: 0.6rem;
      @include mixin.tablet {
        width: 22rem;
        padding-block: 0.8rem;
      }
      @include mixin.tablet {
        width: 29rem;
      }
    }
  }
}

.notfound {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  padding-block: 2.4rem;

  @include mixin.tablet {
    flex-direction: row;
    padding-block: 5.6rem;
  }
  @include mixin.desktop {
    gap: 4.8rem;
    padding-block: 8rem;
  }
  .image {
    text-align: center;
    width: 80%;
    max-width: 28rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .flex {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: center;
    @include mixin.tablet {
      text-align: start;
      gap: 2.4rem;
      max-width: 33rem;
      margin-inline: initial;
    }
    @include mixin.tablet {
      max-width: 35rem;
    }
    .btn {
      margin-inline: auto;
      display: block;
      width: 100%;
      cursor: pointer;
      padding-block: 8px;
      border-radius: 6px;
      background-color: mixin.$primary-button;
      color: mixin.$neutral-100;
      text-transform: capitalize;
      border: none;
      &:hover {
        background-color: mixin.$primary-hover;
        transition: background-color 0.2s ease-in-out;
      }
    }
  }
}

.card_wrapper {
  margin-bottom: 10rem;
}
