@use '../../mixin.scss' as mixin;

.search_container {
  overflow: hidden;

  .breadcrumbs {
    font-size: 10rem;
    border: 1px solid #e0e0e0;
    margin-left: -5.5%;
    margin-right: -5.5%;
    padding: 8px 0px;
    .breadcrumb {
      width: 90%;
      margin: auto;
    }
  }

  .search_wrapper {
    display: flex;
    flex-direction: row;
    margin: 2.5rem 0rem;
    @include mixin.tablet2 {
      flex-direction: column;
    }
    .search_filter {
      margin: -2.5rem 0rem;
      flex: 1 1 19%;
      border-right: 1px solid #e0e0e0;

      @include mixin.tablet2 {
        border-bottom: 1px solid #e0e0e0;
        border-right: none;
        margin-bottom: 2rem;
      }
      h1 {
        margin-top: 2.5rem;
      }
      p {
        margin: 1.8rem 0rem 1rem 0rem;
      }
      .filter_harga {
        padding-bottom: 1.8rem;
        border-bottom: 1px solid #e0e0e0;
      }
      .filter_harga,
      .filter_penawaran,
      .filter_penilaian {
        border-bottom: 1px solid #e0e0e0;
        margin-right: 2rem;
        @include mixin.tablet2 {
          margin-right: 0rem;
        }
      }
      .filter_penawaran_penilaian {
        @include mixin.tablet2 {
          display: flex;
          flex-direction: row;
        }
        .filter_penawaran,
        .filter_penilaian {
          flex: 1 1 50%;
        }
      }

      .reset_filter {
        background-color: mixin.$primary-button;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        width: 95%;
        height: 40px;
        border: none;
        color: white;
        margin-top: 2rem;
        margin-bottom: 5rem;
        cursor: pointer;
        @include mixin.tablet2 {
          width: 100%;
        }
      }
      .filter_dropdown {
        button {
          padding: 0.6rem 0.6rem 0.6rem 1rem;
          gap: 8px;
          background-color: white;
          border: 1px solid #f5f5f5;
          box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
          border-radius: 6px;
          text-align: justify;
          width: 100%;
          cursor: pointer;
          a {
            color: mixin.$neutral-900;
            text-align: justify;
          }
        }

        .dropdown:hover {
          .isi_dropdown {
            display: flex;
            flex-direction: column;
            @include mixin.tablet2 {
              width: 93%;
            }
          }
        }

        .isi_dropdown {
          position: absolute;
          display: none;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          background-color: white;
          border-radius: 6px;
          margin-top: 0.4rem;
          width: 28%;
          cursor: pointer;
          @include mixin.desktop {
            width: 15.5%;
          }
          option {
            color: #3c3c3c !important;
            padding: 1rem 11.5rem 1rem 1rem;
            width: 100%;
            text-align: justify;
          }
          option:hover {
            color: mixin.$primary-text !important;
            background-color: mixin.$neutral-200;
            border-radius: 6px;
          }
        }
      }
    }

    .search_result {
      flex: 1 1 90%;
      @include mixin.tablet2 {
        margin-right: 0rem;
      }
      @include mixin.mobile2 {
        margin-right: 0rem;
      }

      .search_result_info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 95%;
        margin: auto;
        @include mixin.tablet2 {
          justify-content: space-between;
          align-items: center;
        }
        @include mixin.mobile2 {
          justify-content: center;
        }
        .relevansi_dropdown {
          @include mixin.tablet2 {
            margin-top: 1rem;
          }

          button {
            padding: 0.6rem 4rem 0.6rem 1rem;
            gap: 8px;
            background-color: white;
            border: 1px solid #f5f5f5;
            box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
            border-radius: 6px;
            text-align: justify;
            width: 100%;
            cursor: pointer;
            @include mixin.tablet2 {
              width: 100%;
            }
            a {
              color: mixin.$neutral-900;
              text-align: justify;
            }
          }

          .dropdown:hover {
            .isi_dropdown {
              display: flex;
              flex-direction: column;
            }
          }

          .isi_dropdown {
            position: absolute;
            display: none;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            background-color: white;
            border-radius: 6px;
            margin-top: 0.4rem;
            width: 28%;
            padding: 1rem 15.5rem 1rem 1rem;
            cursor: pointer;
            @include mixin.desktop {
              width: 15.5%;
            }
            option {
              color: #3c3c3c !important;
              padding: 1rem 11.5rem 1rem 1rem;
              width: 100%;
              text-align: justify;
            }
            option:hover {
              color: mixin.$primary-text !important;
              background-color: mixin.$neutral-200;
              border-radius: 6px;
            }
          }
        }
        span {
          font-weight: 700;
          color: mixin.$neutral-900;
          text-transform: lowercase;
        }
      }
      .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        grid-gap: 12px;
        height: fit-content;
        justify-items: center;
        align-items: center;
        margin-bottom: 5rem;
        @include mixin.tablet2 {
          grid-gap: 16px;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        @include mixin.desktop {
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
      }
      .wrapper {
        width: 95%;
        margin: auto;
        margin-top: 2rem;
      }
      .no_product {
        width: 95%;
        margin: auto;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .img_primary {
          flex: 1 1 50%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          min-height: 60vh;
          width: 100%;
          height: 100%;
          display: block;
          position: relative;
          @include mixin.tablet {
          }
        }
        &__title {
          flex: 1 1 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          @include mixin.mobile2 {
            text-align: center;
          }
          @include mixin.tablet2 {
            justify-content: center;
            align-items: center;
            margin: 2rem;
          }
          p {
            margin-top: 1rem;
            width: 45%;
            @include mixin.tablet2 {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.no_product {
  width: 100%;
  .no_product_img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 80vh;
  }
}
.product_not_found_container {
  .no_product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.6rem;
    gap: 2.4rem;
    @include mixin.tablet {
      flex-direction: row;
    }
    .imgku {
      max-width: 40rem;
      @include mixin.tablet {
        flex-basis: 50%;
      }
      .imglost {
        width: 100%;
        width: 100%;
      }
    }
    .no_product__title {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      @include mixin.tablet {
        width: 100%;
        flex-basis: 50%;
        gap: 2.4rem;
      }
      .card_miss {
        width: 100%;
      }
      .fil {
        width: 100%;
      }
    }
  }
}
