@use '../../mixin.scss' as mixin;

.upload {
  color: mixin.$neutral-900;
  margin-block: 1.6rem;
  margin-inline: auto;
  @include mixin.tablet {
    border-radius: 1.6rem;
    box-shadow: mixin.$shadow-elevation-3;
    max-width: 55rem;
    padding: 2.4rem;
    margin-block: 3.2rem;
    border: 1px solid mixin.$neutral-400;
    margin-block: 4.8rem;
  }
  @include mixin.desktop {
    box-shadow: mixin.$shadow-elevation-6;
    max-width: 70rem;
    padding: 3.2rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  .upload_heading {
    text-align: center;
    width: 100%;
  }
  .upload_box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0.6rem;
    border: 1px dashed mixin.$primary-button;
    height: 28rem;
    width: 100%;
    color: mixin.$primary-button;
    width: 100%;
    .absolute {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .upload_boxa {
      width: 100%;
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      opacity: 0;
    }
  }
  .detail_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .reset {
      cursor: pointer;
      color: mixin.$primary-button;
    }
  }
  .upload_detail {
    display: grid;
    grid-gap: 1.6rem;
    width: 100%;
    @include mixin.desktop {
      grid-template-columns: repeat(2, 1fr);
    }
    .detail_main {
      label {
        display: block;
        width: 100%;
        margin-bottom: 0.4rem;
      }
      input {
        display: block;
        width: 100%;
        height: 4rem;
        border-radius: 0.6rem;
        box-shadow: mixin.$shadow-inset-3;
        border: mixin.$neutral-400 solid 1px;
        padding-left: 1rem;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type='number'] {
        -moz-appearance: textfield;
      }
      p {
        color: mixin.$neutral-700;
        margin-top: 0.4rem;
      }
    }
  }
  .detail_text {
    list-style: inside;
  }
  .send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    padding-block: 8px;
    border-radius: 6px;
    background-color: mixin.$primary-button;
    color: mixin.$neutral-100;
    text-transform: capitalize;
    border: none;
    &:hover {
      background-color: mixin.$primary-hover;
      transition: background-color 0.2s ease-in-out;
      button {
        background-color: mixin.$primary-hover;
        transition: background-color 0.2s ease-in-out;
      }
      &:active {
        background-color: mixin.$primary-pressed;
        transition: background-color 0.2s ease-in-out;
      }
    }
    button {
      border: none;
      background-color: mixin.$primary-button;
      color: white;
      cursor: pointer;
    }
  }
}
