$primary-text: #3040dc;
$primary-button: #3e7bfa;
$primary-hover: #3a42ff;
$primary-focus: #dae2ff;
$primary-border: #b1c5ff;
$primary-pressed: #003ea6;
$secondary-danger: #cb3a31;
$secondary-danger-light: #fcced2;
$secondary-warning: #cd7b23;
$secondary-warning-light: #ffd6b5;
$secondary-success: #43936c;
$secondary-success-light: #c1edc1;
$secondary-yellow: #ffd43a;
$neutral-900: #1c1c1e;
$neutral-800: #505050;
$neutral-700: #757575;
$neutral-600: #9e9e9e;
$neutral-500: #c2c2c2;
$neutral-400: #e0e0e0;
$neutral-300: #ededed;
$neutral-200: #f5f5f5;
$neutral-100: #ffffff;
$shadow-elevation-1: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
$shadow-elevation-2: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
$shadow-elevation-3: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
$shadow-elevation-4: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
$shadow-elevation-5: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.16);
$shadow-elevation-6: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
$shadow-inset-3: inset 1px 2px 2px rgba(0, 0, 0, 0.08);
@mixin mobile {
  @media only screen and (min-width: 360px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: 1000px) {
    @content;
  }
}
@mixin mobile2 {
  @media only screen and (max-width: 360px) {
    @content;
  }
}
@mixin tablet2 {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin desktop2 {
  @media only screen and (min-width: 1400px) {
    @content;
  }
}
@mixin mobile3 {
  @media only screen and (min-width: 600px) {
    @content;
  }
}
